
.spyproject/config/*
.idea/*
__pycache__/*

_utils/__pycache__/*

_utils/resource_management/__pycache__/*

cmd/__pycache__/*

cmd/resources/__pycache__/*

gui/__pycache__/*

io/__pycache__/*

io/configuration/__pycache__/*

io/xml/__pycache__/*

io/xml/resources/__pycache__/*

model_base/__pycache__/*

models/__pycache__/*

models/aerodynamics/__pycache__/*

models/aerodynamics/components/__pycache__/*

models/aerodynamics/components/resources/__pycache__/*

models/aerodynamics/external/__pycache__/*

models/aerodynamics/external/xfoil/__pycache__/*

models/aerodynamics/external/xfoil/resources/__pycache__/*

models/aerodynamics/external/xfoil/xfoil699/__pycache__/*

models/geometry/__pycache__/*

models/geometry/geom_components/__pycache__/*

models/geometry/geom_components/fuselage/__pycache__/*

models/geometry/geom_components/ht/__pycache__/*

models/geometry/geom_components/ht/components/__pycache__/*

models/geometry/geom_components/nacelle_pylons/__pycache__/*

models/geometry/geom_components/vt/__pycache__/*

models/geometry/geom_components/vt/components/__pycache__/*

models/geometry/geom_components/wing/__pycache__/*

models/geometry/geom_components/wing/components/__pycache__/*

models/geometry/profiles/__pycache__/*

models/geometry/profiles/resources/__pycache__/*

models/handling_qualities/__pycache__/*

models/handling_qualities/tail_sizing/__pycache__/*

models/loops/__pycache__/*

models/performances/__pycache__/*

models/performances/mission/__pycache__/*

models/performances/mission/mission_definition/__pycache__/*

models/performances/mission/openmdao/__pycache__/*

models/performances/mission/segments/__pycache__/*

models/propulsion/__pycache__/*

models/propulsion/fuel_propulsion/__pycache__/*

models/propulsion/fuel_propulsion/rubber_engine/__pycache__/*

models/weight/__pycache__/*

models/weight/cg/__pycache__/*

models/weight/cg/cg_components/__pycache__/*

models/weight/cg/cg_components/load_cases/__pycache__/*

models/weight/cg/cg_components/load_cases/__pycache__/*

models/weight/mass_breakdown/__pycache__*

models/weight/mass_breakdown/a_airframe/__pycache__/*

models/weight/mass_breakdown/b_propulsion/__pycache__/*

models/weight/mass_breakdown/c_systems/__pycache__/*

models/weight/mass_breakdown/d_furniture/__pycache__/*

models/weight/mass_breakdown/e_crew/__pycache__/*

module_management/__pycache__/*

openmdao/__pycache__/*

io/configuration/resources/__pycache__/

models/aerodynamics/components/utils/__pycache__/

models/performances/mission/mission_definition/resources/__pycache__/

models/performances/mission/openmdao/resources/__pycache__/
